<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="inputProperty.Image" class="card-img-top" src="./assets/images/{{inputProperty.Image}}.jpg" />
    <img *ngIf="!inputProperty.Image" class="card-img-top" src="./assets/images/house-default.jpg" />    
    <ul class="list-inline text-center member-icons animate">
        <li class="list-inline-item"><button class="btn btn-primary" routerLink="/detail-property/{{inputProperty.Id}}">Edit</button></li>
        <li class="list-inline-item"><button class="btn btn-secondary" routerLink="/detail-property/{{inputProperty.Id}}">Contact</button></li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ inputProperty.Name }}</h1>
    <h2>{{ inputProperty.Type }}</h2>
    <h3>{{ inputProperty.Price }}</h3>
  </div>
</div>
